* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#wrapper {
  position: relative;
  width: 300px;
  height: 600px;
  top: 30px;
  left: 50px;
  background-color: black;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  border: 1px solid black;
}
#icon {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 50px;
  color: white;
  opacity: 0.6;
}
#img-1 {
  position: absolute;
  bottom: 0;
  left: -240px;
  transform: translateX(-30px);
  transition: all 3s ease;
  opacity: 0.5;
}
#text-1 {
  position: absolute;
  top: 290px;
  color: white;
  left: 80px;
  font-size: 35px;
  font-weight: 600;
  transform: translate(0);
  transition: all 2s ease;
  opacity: 0;
}
#img-2 {
  position: absolute;
  right: -160px;
  transform: scaleX(-1) translate(-195px);
  transition: all 3s ease;
  opacity: 0;
}
#text-2 {
  position: absolute;
  color: white;
  left: 50px;
  top: 285px;
  font-size: 30px;
  font-weight: 600;
  transform: translate(0);
  transition: all 2s ease;
  opacity: 0;
}
#img-3 {
  position: absolute;
  bottom: -20px;
  transform: scaleX(-1) rotateY(0deg) translate(100px);
  left: -145px;
  transition: all 3s ease;
  opacity: 0;
}
#text-3 {
  position: absolute;
  color: white;
  font-size: 30px;
  font-weight: 600;
  top: 260px;
  left: 106px;
  transform: translate(90deg);
  transition: all 2s ease;
  opacity: 0;
}
#text-4 {
  position: absolute;
  color: white;
  top: 160px;
  left: 85px;
  font-size: 30px;
  transform: translate(90deg);
  transition: all 2s ease;
  opacity: 0;
}
#text-5 {
  position: absolute;
  color: white;
  top: 198px;
  left: 103px;
  font-size: 12px;
  opacity: 0;
  transform: translate(90deg);
  transition: all 2s ease;
}
#img-4 {
  position: absolute;
  top: 325px;
  left: 90px;
  transform: translate(90deg);
  opacity: 0;
  transition: all 2s ease;
}
#img-5 {
  position: absolute;
  top: 400px;
  left: 90px;
  transform: translate(90deg);
  opacity: 0;
  transition: all 2s ease;
}
#button {
  position: absolute;
  top: 465px;
  left: 89px;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 600;
  transform: translate(90deg);
  opacity: 0;
  transition: all 2s ease;
}
